<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>272_StatckExchange</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RatingDistributionBusinessServlet</display-name>
    <servlet-name>RatingDistributionBusinessServlet</servlet-name>
    <servlet-class>Servlets.RatingDistributionBusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingDistributionBusinessServlet</servlet-name>
    <url-pattern>/View/RatingDistributionBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingDistributionCityServlet</display-name>
    <servlet-name>RatingDistributionCityServlet</servlet-name>
    <servlet-class>Servlets.RatingDistributionCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingDistributionCityServlet</servlet-name>
    <url-pattern>/View/RatingDistributionCityServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>NewBusinessServlet</display-name>
    <servlet-name>NewBusinessServlet</servlet-name>
    <servlet-class>Servlets.NewBusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBusinessServlet</servlet-name>
    <url-pattern>/View/NewBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleCityServlet</display-name>
    <servlet-name>SingleCityServlet</servlet-name>
    <servlet-class>Servlets.SingleCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleCityServlet</servlet-name>
    <url-pattern>/View/SingleCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCitiesServlet</display-name>
    <servlet-name>GetCitiesServlet</servlet-name>
    <servlet-class>Servlets.GetCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCitiesServlet</servlet-name>
    <url-pattern>/View/GetCitiesServlet</url-pattern>
  </servlet-mapping> 
</web-app>